#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem;
  --bs-primary: #0C1A61 !important;
  font-family: "Almarai";
  text-align: center;
  background-color: #F0F3FF;
}

*{
  box-sizing: border-box;
  font-size: clamp(0.9rem, 1.5vw, 1rem);
}
.navbar{
  background-color: #0C1A61;
  color: #F0F3FF !important;
}

button,Button:hover{
  margin-bottom: 5px;
  transform-style: flat;
  transition : all 0.5s ease-in-out;
}
