#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem;
  --bs-primary: #0C1A61 !important;
  font-family: "Almarai";
  text-align: center;
  background-color: #F0F3FF;

}

*{
  cursor : progress;
  box-sizing: border-box;
  font-size: clamp(0.9rem, 1.5vw, 1rem);
}
.navbar{
  background-color: #0C1A61;
  color: #F0F3FF !important;
}

button,Button:hover{

    background-color: #0C1A61;
    border: none;
  transform-style: flat;
  transition : all 0.5s ease-in-out;
}

.card:hover{
  border: 2px solid #0c1a61;
  transition: 0.8s ease-in-out;
}